
<body class="d-flex flex-column" >


<app-header></app-header>


<app-navigation></app-navigation>


<div class="container-fluid">
  <div class="row">
    <div class="col-4 col-sm-4 col-xl-4 col-md-4 col-lg-4">
      <div class="card" style="width: 100%">
        <img src="../../../../assets/images/giuong_khach_san_1.jpg" class="card-img-top" alt="...">
        <div class="card-body" align="center">
          <strong><h1 class="card-title " style="color: red">Phòng CÓ GHẾ TRƯỢT </h1></strong>
          <p class="card-text">Giá: 1.500.000 đ</p>
          <a href="#" class="btn btn-primary">Đặt phòng</a>
        </div>
      </div>
    </div>
    <div class="col-4 col-sm-4 col-xl-4 col-md-4 col-lg-4">
      <div class="card" style="width: 100%">
        <img src="../../../../assets/images/giuong_khach_san_1.jpg" class="card-img-top" alt="...">
        <div class="card-body" align="center">
          <strong><h1 class="card-title " style="color: red">Phòng 102-VIP</h1></strong>
          <p class="card-text">Giá: 1.500.000 đ</p>
          <a href="#" class="btn btn-primary">Đặt phòng</a>
        </div>
      </div>
    </div>
    <div class="col-4 col-sm-4 col-xl-4 col-md-4 col-lg-4">
      <div class="card" style="width: 100%">
        <img src="../../../../assets/images/giuong_khach_san_1.jpg" class="card-img-top" alt="...">
        <div class="card-body" align="center">
          <strong><h1 class="card-title " style="color: red">Phòng 103-VIP</h1></strong>
          <p class="card-text">Giá: 1.500.000 đ</p>
          <a href="#" class="btn btn-primary">Đặt phòng</a>
        </div>
      </div>
    </div>
  </div>
</div>



<app-footer></app-footer>
</body>
